@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
:root{
--White: hsl(0, 0%, 100%);
--Light-pink: hsl(275, 100%, 97%);
--Grayish-purple: hsl(292, 16%, 49%);
--Dark-purple: hsl(292, 42%, 14%);
--purple:292,42%,14%;
}
p{
  font-size: 16px;

}

body {
  margin: 0;
  font-family: "Work Sans", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--Light-pink);
  background-image: url("assets/images/background-pattern-desktop.svg");
  background-repeat: no-repeat;
}
.continer {
  background-color: var(--White);
  border-radius: 1rem;
  width: 33rem;
  word-wrap:break-word;
  box-shadow: .5rem .5rem .4rem hsl(var(--purple),.3);
}
.item-a {
  margin:2rem 1rem;
}
.item-a > div {
  display: none;
  margin:2rem 2rem;

}
hr {
  width: 30rem;
  color:var(--Light-pink);
}
.icon{
  margin-left: 2rem;
}
h1 {
  margin:1rem 2rem;
  font-size: 4rem;
  font-weight: 700;
  display: inline;
}
button::after{
  background-image: url("assets//images/icon-plus.svg");
}

button{
  border: none;
  outline: none;
  background-color: var(--White);
}
#mins1,#mins2,#mins3,#mins4 {
  display: none;
}
.item-a >svg {
  margin:1rem 3rem;
}

h3 {
  font-weight: 600;
  font-size: 1rem;
  display: inline;
  margin:0  1rem;
}
h3:hover{
  color: var(--Grayish-purple);
}
@media (max-width:600px){
  .continer{
    width: 19rem;
  }
  hr{
    width:18;
  }

}
